body {
    font-size:180%;
}

h1 {
    font-size: 3.3em;
}

h2 {
    font-size: 2.875em;
}
p {

    font-size: 0.975em;
}

blockquote {}

::before, *::after {}
* {
    box-sizing: border-box;
}
.banner{}
.container {}
.nav-primary{}
.wrap{}
.content-info{}
.brand {

    font-size: 3.0em;

}
.main{}
.page-header{}
.nav-primary {}
